<div class="container">
  <form>
    <div class="form-group">
        <label for="exampleInputtext">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su Nombre">
        <small id="emailHelp" class="form-text text-muted">Ingrese su nombre</small>
    </div>
    <div class="form-group">      
      <label for="exampleInputName">Apellidos</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese sus apellidos">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">      
        <label for="exampleInputName">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Acepta sus condiciones</label>
      <button type="submit" class="btn btn-primary" style="padding-left:20px; margin-left: 40px;">Enviar</button>
    </div>
    <div class="form-group">
        
    </div>    
  </form>  
</div>
